.form-control {
  padding: 5px 25px;
  background: transparent;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  vertical-align: middle;
  border-color: #6c757d;
}

.form-control:focus {
  border: none;
  outline-color: none;
  background: transparent;
}

.col-4 {
  text-align: right;
}
.footer {
  margin: 24px;
  text-align: center;
  font-size: 0.6rem;
  font-family: "Ubuntu Mono", monospace;
  color: hotpink;
}

#navbar {
  padding: 20px 20px 0px 20px;
  letter-spacing: 0.5vw;
}
